.background{
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/hotel-wallpaper.png");
}

.badge{
    font-size: x-large !important;
    margin-left: 100px !important;
    padding: 20px !important;
}


.container{
    margin-bottom: 50px !important;
}

h4 {
    color: #52a6b6 !important;
}

.img-fluid {
    margin-top: 25px !important;
}

